version: '3'
services:
     androidlink: 
        image: harbor.edgesync.cloud/xian-embedded/eim/manager:v4.0.0
        restart: always
        depends_on:
                - mqtt
                - db
        volumes:
                - ./logs/manager:/root/adv/manager/logs
                - ./data/license:/root/adv/license
                - /sys:/sys
                - ./logs/repo:/root/adv/repo/logs

        ports:
                - "8080:8080"
                - "30001:30001"
        environment:
           TZ: "Asia/Shanghai"
           DATABASE_TYPE: sqlite3
           datacenter: local
           subscriptionId: "123"
           company: "123"
           CHECK_LOCAL_HOST: "true"
        logging:
           driver: json-file
           options:
              max-size: "100m"  # 限制每个日志文件为100MB
        dns:
                - 8.8.8.8
                - 114.114.114.114
        env_file:
                - ./.env
        command: /root/adv/run.sh
        container_name: apphub
        healthcheck:
               test: ["CMD-SHELL", "nc -z localhost 8080 && nc -z localhost 30001"]
               interval: 60s
               timeout: 30s
               retries: 3
        networks: 
                - advnet
     ithing:
        image: harbor.edgesync.cloud/xian-embedded/eim/ithings:v4.0.0
        restart: always
        depends_on:
                - mqtt
                - db
                - influxDB
                - androidlink
        volumes:
                - ./logs/ithings:/root/adv/ithings/logs
        ports:
                - "8082:8082"
        environment:
           LOG_PATH: "/root/adv/ithings/logs/ithings.log"
           TZ: "Asia/Shanghai"
        env_file:
                - ./.env
        command: /root/adv/run.sh
        container_name: ithing
        healthcheck:
              test: ["CMD-SHELL", "nc -z localhost 8082"]
              interval: 60s
              timeout: 30s
              retries: 3
        networks:
                - advnet
        logging:
           driver: json-file
           options:
              max-size: "10m"
     mqtt:
        image: harbor.edgesync.cloud/xian-embedded/eim/emqx:v4.0.0
        restart: always
        ports: 
                - "1883:1883"
                - "18083:18083"
                - "8083:8083"
        env_file:
                - ./.env
        container_name: m2m_mosquitto
        healthcheck:
            test: ["CMD", "/opt/emqx/bin/emqx_ctl", "status"]
            interval: 60s
            timeout: 10s
            retries: 3
           # start_period: 60s
        networks: 
              - advnet
        logging:
           driver: json-file
           options:
              max-size: "10m"
     db:
        image: harbor.edgesync.cloud/xian-embedded/eim/postgres:v4.0.0
        restart: always
        ports:
                - "5432:5432"
        command:
                - "postgres"
                - "-c"
                - "max_connections=500"
                - "-c"
                - "shared_buffers=1024MB"
                - "-c"
                - "work_mem=131072"
        env_file:
                - ./.env
        volumes:
                - ./data/postgresql/data:/var/lib/postgresql/data
        container_name: m2m-postgresSQL
        healthcheck:
             test: ["CMD-SHELL", "pg_isready -U postgres"]
             interval: 60s 
             timeout: 10s        
             retries: 3        
        networks: 
              - advnet
        logging:
           driver: json-file
           options:
              max-size: "10m"
     novnc:
        image: harbor.edgesync.cloud/xian-embedded/eim/novnc:v4.0.0
        restart: always
        volumes:
                - ./logs/noVnc:/root/adv/log
        ports:
                - "9191:9191"
                - "5901:5901"
                - "5500:5500"
                - "50500-50510:50500-50510"
                - "8024:8024"
                - "1000:8180"
        command: /root/adv/run.sh
        healthcheck:
             test:  ["CMD-SHELL", "nc -z localhost 9191 && nc -z localhost 5500 && nc -z localhost 8024"]
             interval: 60s
             timeout: 30s
             retries: 3
        container_name: apphub-nat
        networks: 
                - advnet
        logging:
           driver: json-file
           options:
              max-size: "10m"
     minio:
        image: harbor.edgesync.cloud/xian-embedded/eim/minio:v4.0.0
        restart: always
        ports:
                - "9000:9000"
        volumes:
                - ./data/minio:/data
        command: /root/adv/run.sh
        container_name: minio
        healthcheck:
             test: ["CMD-SHELL", "nc -z localhost 9000"]
             interval: 60s
             timeout: 30s
             retries: 3
        networks:
                - advnet
        logging:
           driver: json-file
           options:
              max-size: "10m"
     influxDB:
        image: harbor.edgesync.cloud/xian-embedded/eim/influxdb:v4.0.0
        restart: always
        ports:
                - "8086:8086"
        volumes:
                - ./data/influxdb:/var/lib/influxdb
        env_file:
                - ./.env
        container_name: m2m-influxdb
        healthcheck:
           test: ["CMD", "curl", "-f", "http://localhost:8086/health"]
           interval: 60s
           timeout: 10s
           retries: 3
        networks:
                - advnet
        logging:
           driver: json-file
           options:
              max-size: "10m"
networks:
    advnet:
        driver: bridge
        ipam:
             driver: default
             config:
                    - subnet: 172.240.10.0/24
